
.main-highlight-wrapper {
    display: block;
    background: #fafafa;
    text-align: center;
    padding: 25px 0;
  }
  .main-highlight-wrapper img {
    width: 710px;
}
.links-wrapper ul {
    list-style: none;
}
.model-1 {
    font-size: 17px;
}
.model {
    font-size: 0.85em;
}
.product-title {
    font-weight: 700;
    font-size: 3.5rem;
    text-align: center;
}
.main-brif-description {
    font-size: 2.2em;
}
.links-wrapper {
    padding: 15px 0;
}
.links-wrapper ul li {
    display: inline-block;
    padding-right: 20px;
    text-align: center;
}
.links-wrapper ul li a {
    color: #06c;
    text-decoration: none;
    text-align:
}
.links-wrapper ul li a:hover {
    color: #000;
}
.links-wrapper ul li a:after {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f105";
    padding-left: 10px;
}

/*second-hightlight-wrapper*/

.second-hightlight-wrapper {
    background-image: url("/appleClone/images/home/iphone11-pro-bg.jpg");
    height: 580px;
background-position: center;
background-repeat: no-repeat;

    padding: 65px 20px;
    color: #fff;
}
.title-wraper {
    font-weight: 600;
    font-size: 56px;
    text-align: center;
}
.second-brief-description {
    font-size: 26px;
    padding: 10px 0;
    text-align: center;
}
.price-wrapper {
    color: #86868b;
    font-size: 0.85em;
    text-align: center;
}
/*3-highlight-wrapper-->*/

.third-highlight-wrapper {
    background-image: url("images/home/iphone11-bg.jpg");
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 65px 20px;
}